* {
  box-sizing: border-box;
  zoom: 1;
  margin: 0;
  padding: 0;
  user-select: none;
}

body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow: hidden;

  background-image: url('https://source.unsplash.com/random/?landscape,grass,park,night');
  background-color: rgba(0, 0, 0, 0.7);
  background-blend-mode: overlay; /* Mezcla de modos para aplicar la opacidad */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#killAll {
  background-color: rgba(0, 0, 0, 0.3);
  cursor: pointer;
  font-family: 'Arial';
  margin-top: 5px;
  padding: 5px 15px;
  font-weight: bold;
  color: red;
  text-align: center;
  text-shadow: 1px 1px black;
  z-index: 2000;
  border-radius: 10px;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

#info {
  padding: 5px 15px;
  z-index: 2000;
  pointer-events: none;
  border-radius: 15px;
  background-color: rgba(0, 0, 0, 0.5);
  font-family: 'Courier New', monospace;
  color: white;
  position: fixed;
  bottom: 15px;
  left: 50%;
  transform: translateX(-50%);
}

img {
  user-select: none;
  padding: 0;
  margin: 0;
  cursor: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32"><text x="0" y="25" font-size="25">🤚</text></svg>'), auto;
  position: fixed;
  filter: drop-shadow(15px 15px 2px rgba(0,0,0,0.5) );
  transition: transform 0.2s;
}

img[src="aplastado.gif"] {
  cursor: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32"><text x="0" y="25" font-size="25">💀</text></svg>'), auto;
  filter: none;
  animation: desaparecer 3s forwards;
  filter: drop-shadow(0px 0px 15px rgba(255,0,0,0.7) );
}

@keyframes desaparecer {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}